.stages {
  margin-bottom: 120px;
}
.stages__container {
  position: relative;
}
.stages__title {
font-family: 'Merriweather',sans-serif;
font-size: 36px;
line-height: 110%;
font-weight: 400;
margin-bottom:144px;
text-transform: uppercase;
}
.session-author_stages {
  display: block;
  font-family:'Golos Text',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: none;
  margin-top: 16px;
}
.stages__list {
  padding-bottom: 64px;
}


.stages__list-wrapper {
}

.stages__list-item {
  padding: 62px 27px 34px 72px;
  min-width: 100%;
  box-sizing: border-box;
  min-height: 324px;

  background-image: url(../img/stages/bg.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color:#d9d9d9;
}


.stages__list-item_big{
  display: none;
}

.stages-text {
  font-weight: 500;
  position: relative;
  line-height: 1.2;
}
.stages-text:not(:last-child){
  margin-bottom: 28px;
}
.stages-text::before{
  content: '1';
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: -52px;
  background-color: white;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stages-text_second::before{
  content: '2';
}
.stages-text_third::before{
  content: '3';
}
.stages-text_fourth::before{
  content: '4';
}
.stages-text_five::before{
  content: '5';
}
.stages-text_six::before{
  content: '6';
}
.stages-text_seven::before{
  content: '7';
}
.stages__image {
  position: absolute;
  bottom: 327px;
  left: 0;
  z-index: 1;
}

.stages__panel {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 178px;

}
.stages__list-button {
  background-color: var(--gray);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.stages__list-button::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 20px;
  background-image: url(../img/stages/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

}
.stages__list-button_prev {
  transform: rotate(180deg);
}
.stages__list-button_next {
}
.stages__list-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -4px;
  z-index: 0;
}

@media(min-width:1366px){
  .stages {
    margin-bottom: 200px;
  }
  .stages__container {
    position: relative;
  }
  .stages__title {
  font-size: 54px;
  margin-bottom: 64px;
  max-width: 806px;
  }
  .session-author_stages {
    font-size: 20px;
    margin-bottom: 0;
    display: inline-block;
    max-width: 270px;
  }
  .stages__list {
    padding-bottom:0;
  }
  .stages__list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:20px;

  }
  .stages__list-item {
    padding: 20px 20px 20px 72px;
    width: 394px !important;
    min-height:0;
  }
  .stages__list-item_first-grid{
    grid-column:1/2 ;
    grid-row: 1/2;
  }
  .stages__list-item_second-grid{
    grid-column:2/3 ;
    grid-row: 1/2;
  }
  .stages__list-item_third-grid{
    grid-column:3/4 ;
    grid-row: 1/3;
  }
  .stages__list-item_fourth-grid{}
  .stages__list-item_five-grid{}
  .stages__list-item_six-grid{
    grid-column: 1/2;
  }
  .stages__list-item_seven-grid{
    grid-column: 2/-1;
  }


  .stages__list-item_big{
    display: block;
  }
  .stages-text {
    font-size: 20px;
    max-width: 450px;
  }

  .stages-text::before{
    top: 0;
    left:-52px;
  }
  .stages-text_second,
  .stages-text_five{
    display: none;
  }
  .stages-text_second::before,
  .stages-text_second-big::before{
    content: '2';
  }
  .stages-text_five::before,
  .stages-text_five-big::before{
    content: '5';
  }
  .stages__image{
   right: 0;
   left: initial;
   bottom: 0;
  }
}